.nav {
    grid-area: n;
    background-color: darkseagreen;
    width: 200px;
    padding: 20px;
}
.item a{
    color: white;
    text-decoration: none;
 }
.item a.activeLink {
    color: darkslategrey;
}